@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 94%);
}
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-height: 650px;
    background:  hsl(0, 0%, 100%);
    padding: 2rem;
    padding-right: 12rem;
    border-radius: 20px 20px 200px 20px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.result{
    display: flex;
    position: absolute;
    margin-bottom: -1rem;
    bottom: 0;
    flex-direction: column;
    line-height: 110px;
    padding-bottom: 5rem;
}
.day{
    position: relative;
    display: flex;
    flex-direction: column;
}
.month{
    display: flex;
    flex-direction: column;
}
.year{
    display: flex;
    flex-direction: column;
}
input{
    margin-right: 2rem;
    width: 160px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid  hsl(0, 0%, 94%);
    font-size: 35px;
    font-weight: 800;
    padding: 1rem;
    margin-top: -1rem;
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
input:hover{
    border-color: hsl(259, 100%, 65%) !important;
}
input::placeholder{
    font-weight: 600;
    font-style: normal;
}
.input-style:focus {
    border-color: hsl(259, 100%, 65%) !important;
    outline: none;
}
label{
    margin-bottom: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 600;
   font-size: 14px;
   color: hsl(0, 1%, 44%);
}
button{
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: hsl(259, 100%, 65%);
    position: absolute;
    right: 0;
    margin-right: 3rem;
    margin-top: 6rem;
    cursor: pointer;
}
button:hover{
    background: black;
}
.line{
    width: 80%;
    margin-top: 9rem;
    position: absolute;
    border: 1px solid hsl(0, 0%, 94%);
}
span{
    color:hsl(259, 100%, 65%);
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
}
small{
    color: black;
    font-size: 110px;
}
input.error{
    color: black;
    font-size: 35px;
}
label.error{
    font-weight: 800;
}
.error{
    color: hsl(0, 100%, 67%);
    font-size: 12px;
    border-color: hsl(0, 100%, 67%);
}
.error::placeholder{
    font-size: 30px;
}

@media (max-width: 850px){
    .container{
        padding: 0;
        min-height: 510px;
        border-radius: 20px 20px 100px 20px;
    }
    input{
        font-size: 20px;
        margin-right: 1rem;
        width: 90px;
        height: 50px;
    }
    label{
        font-size: 12px;
        letter-spacing: 3px;
    }
    span{
        font-size: 55px;
        font-weight: 900;
    }
    small{
        font-size: 55px;
        font-weight: 900;
        margin-left: .5rem;
    }
    button{
        width: 60px;
        height: 60px;
        margin-right: 10rem;
    }
    button img{
        width: 25px;
    }
    .result{
        line-height: 60px;
        margin-left: 2rem;
    }
    .line{
        margin-top: 8rem;
        width: 90%;
    }
    .error{
        color: hsl(0, 100%, 67%);
        font-size: 8px;
        border-color: hsl(0, 100%, 67%);
    }
    .error::placeholder{
        font-size: 20px;
    }
    label.error{
        font-size: 12px;
    }
}